/* STYLES FOR THE TWO COLUMNS */
#left-column{
	float:left;
	margin:0 8px 2em 0; padding:0;
	width:456px;
}
#right-column{ float:left; margin:0 0 2em 0; width:300px; }

/* STYLES FOR THE LEFT COLUMN */
h2{ margin:0; padding:0; }
.content-info { 
	background:url(../images/dotted-line.gif) repeat-x bottom left;
	font-size:95%;
	margin:0; 
	padding:0 0 3px 0;
}
div.quote, div.image{
	float:right;
	margin:5px 0 5px 6px;
	overflow:hidden;
	width:210px; 
}
div.quote{ background:#eee url(../images/dotted-line.gif) repeat-x 0 5px; }
q{ 
	display:block;
	font-size:135%;
	padding:1.2em 8px 0.7em 8px;
}
.quote .source, .image .caption{
	background:url(../images/dotted-line.gif) repeat-x bottom left;
	font-size:95%;
	font-style:italic;
	padding:0 0 0.5em 0; margin:0;
}
.quote .source{
	background:#eee url(../images/dotted-line.gif) repeat-x bottom left;
	margin:0 0 5px 0; padding:0 8px 1.2em 8px;
}

#top-content,
#top-stories,
#other-content,
.content-area,
.content-area-wimage{
	background:url(../images/dotted-line.gif) repeat-x top left;
	clear:both;
	margin:0; padding:0.1em 0 1em 0;
}

.content-FOI{
	background:url(../images/dotted-line.gif) repeat-x top left;
	clear:both;
	margin:0; padding:0.1em 0 1em 0;
}

.search-item
{
	background:url(../images/dotted-line.gif) repeat-x top left;
	margin:0; padding:0.1em 0.1em 0.1em 0.1em;
}

#left-column #org-news .story{ float:left; width:46%; padding-right:100px; }
#org-news #features .story{ width:100%; }
#left-column #top-stories .story h3,
#left-column #org-news #features .story h3{ font-size:125%; }
#left-column #top-stories .story,
#left-column #org-news #features .story{ clear:both; }
#left-column #top-stories .story p,
#left-column #org-news #features .story p{ padding-left:86px; }
#left-column h3.feature{ margin:1em 0 0 0; padding:0; }
#left-column p.feature{ margin:0 0 1em 0; padding:0; }
#left-column img.feature{
	margin:1em 8px 1em 0;
	float:left;
}
.two-column .column-left{ float:left; width:224px; clear:left; }
.two-column .column-right{ float:right; width:224px; clear:none; }
#other-content dt,
.content-area dt,
.content-area-wimage dt { background:url(../images/bullet-circle.gif) no-repeat top left; font-size:95%; }
#other-content dl dt, 
#other-content dl dd,
.content-area dl dt,
.content-area dl dd,
.content-area-wimage dl dt,
.content-area-wimage dl dd{ line-height:130%; } 
#other-content ul,
#other-content dl dd,
.content-area ul,
.content-area dl dd,
.content-area-wimage ul,
.content-area-wimage dl dd{ margin-bottom:0.8em; }
#other-content li,
.content-area li,
.content-area-wimage li{ 
	list-style-image:url(../images/bullet-arrow.gif);
	margin-bottom:0.2em;
}
#other-content h2,
.content-area h2,
.content-area-wimage h2{ margin-bottom:0.1em; }
.content-area-wimage h2{
	float:left; 
	margin:0.2em 0 0 4px;
}
.content-area-wimage img.content-id{ float:left !important; }
.section-note{
	color:#666;
	float:left;
	font-size:95%;
	margin:0; padding:0;
}
.content-area-wimage .section-note{
	float:left; 
	width:86%; 
	margin:0 0 1em 4px;
}
#left-column #archive-form label{
	display:block; 
	float:left;
	font-weight:bold; 
	font-size:95%;  
	margin-right:10px;
	text-align:right; 
	width:8em; 
}

.displaymultipleformLabel{
	display:block; 
	float:left;
	font-weight:bold; 
	font-size:95%;  
	margin-right:10px;
	text-align:right; 
	width:8em; 
}

/* STYLES FOR THE RIGHT COLUMN */
#right-column div{
	background:#eee;
	border:1px solid #ccc;
	margin:8px 0 0 0; padding:8px 4px;
}
#right-column .right-column-h2{ margin:0; padding:0 0 0.2em 0; font-size:120%;}
#right-column div p { margin:0; padding:0; }
#right-column .related-news{ padding:8px; }
#right-column #org-news{ background:#fbf9e7; }
#right-column .sub-navigation{ background:#fff; margin:0; padding:0; }
#right-column .sub-navigation a{ font-weight:normal; }
#right-column .sub-navigation .up-to{ 
	background:#eee url(../images/bullet-upto.gif) no-repeat center left;
	font-size:95%;
	margin:0; padding:0 14px; 
}
#right-column .sub-navigation h2{ 
	background:#eee; 
	color:#006;
	font-size:125%; 
	font-weight:bold;
	margin:0; padding:0 8px 0.4em 8px; }
#right-column .sub-navigation ul{ margin-top:5px; margin-bottom:5px; }
#right-column .sub-navigation ul li{ list-style-image:url(../images/bullet-yellow-triangle.gif); margin:0 8px; }
#right-column .sub-navigation ul li.selected{ 
	/* The background is used instead of a bullet image due to differing support of the inside property between browsers. */	
	background:#eee url(../images/subnav-selected.gif) no-repeat center left;
	color:#006;
	font-weight:bold;
	list-style-type:none;
	list-style-image:none;
	margin:0 3px 0 -17px; 
	padding:0 0 0 23px;
}
/* This is a Tan Hack to make the bulleted list line-up in IE */
* html #right-column .sub-navigation ul li.selected{
	margin:0 5px 0 -15px;
	margin:0 5px 0 -15px;
}
#right-column .sub-navigation #forces-links,
#right-column .sub-navigation #misc {
	background:url(../images/dotted-line.gif) repeat-x top left;
	margin-top:0.3em; padding-top:0.3em;
}
#right-column #key-facts{
	background:url(../images/key-facts-top.gif) repeat-x top left; 
	border:1px solid #ababab; 
	border-top:none; 
	padding:18px 8px 10px 8px;
}
#right-column div h2{ margin:0; padding:0 0 0.2em 0; }
.related-links ul li.with-image a{ color:#000; font-weight:normal; }
.related-links ul li.with-image a span{ color:#00c; font-weight:bold; }
.related-links ul li.with-image a img{ margin-bottom:1em; margin-right:4px; }
#left-column div.story,
#right-column div.story,
#right-column div.first-story{
	background:url(../images/dotted-line.gif) repeat-x top left;
	border:none !important;
	margin:0 0 0.5em 0 !important; padding:0.5em 0 0 0 !important;
	font-size:95%;
}
#left-column div.story,
#right-column div.first-story{ background:none; }
.story img,
.first-story img{ float:left; margin:2px 10px 10px 0 }
 
.first-story h3,
.story p,
.first-story p{
	font-size:95%;
	margin:0;padding:0;
	line-height:130%;
}
.story .date,
.first-story .date{ color:#666; font-size:100%; font-weight:normal; }
#key-facts h3{
	font-size:100%;
	margin:1em 0 0 0; padding:0;
}
#key-facts p{
	margin:0 0 1em 0; padding:0;
	font-size:95%;
}
.facts li{ list-style-image:url(../images/bullet-circle-grey.gif); }

.indepth-news{
	background:#fbf9e7 !important;
	padding:0 0 1em 0 !important;
}
#right-column .indepth-news .story,
#right-column .indepth-news .first-story,
#right-column .indepth-news p.more{
	margin-left:8px !important;
	margin-right:8px !important;
}
#right-column .indepth-news .first-story{
	padding-top:0 !important;
}
.story a{
	color:#00c;
	font-weight:bold;
	text-decoration:none;	
}
.story a:hover{
	color:#00c;
	font-weight:bold;
	text-decoration:underline;	
}